<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success" style="margin-right: 10px;" type="submit" [disabled]="!recipeForm.valid">{{ editMode ? 'Update' : 'Save' }}</button>
          <button class="btn btn-danger" type="button" [routerLink]="['../']">Cancel</button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="id">ID</label>
            <input type="number" class="form-control" id="id" formControlName="id">
            <span *ngIf="!recipeForm.get('id').valid && recipeForm.get('id').touched">
              <span class="text-danger" *ngIf="recipeForm.get('id').errors['required'] || recipeForm.get('id').errors['min']">
                Please enter a valid id!
              </span>
              <span class="text-danger" *ngIf="recipeForm.get('id').errors['idIsInUse']">
                Id is in use!
              </span>
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" formControlName="name">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imagePath">Image URL</label>
            <input type="text" class="form-control" id="imagePath" formControlName="imagePath">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <img [src]="recipeForm.get('imagePath').value" class="img-responsive">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text" id="description" class="form-control" rows="6"
              formControlName="description"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12" formArrayName="ingredients">
          <div class="row" *ngFor="let ingredient of controls; let i = index" [formGroupName]="i"
            style="margin-bottom: 10px;">
            <div class="col-xs-8">
              <input type="text" id="ingredientName" class="form-control" formControlName="name">
            </div>
            <div class="col-xs-2">
              <input type="number" id="amount" class="form-control" formControlName="amount">
            </div>
            <div class="col-xs-2">
              <button type="button" class="btn btn-danger" (click)="removeIngredient(i)">X</button>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="button" (click)="onAddIngredient()">
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>