<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <form (ngSubmit)="onSubmit()" [formGroup]="sgForm">
        <div class="form-group">
          <label for="name">Project Name</label>
          <input type="text" class="form-control" formControlName="projectName">
          <span class="text-warning" *ngIf="!sgForm.get('projectName').valid && sgForm.get('projectName').touched">
            <span *ngIf="sgForm.get('projectName').errors['required']">
              Project name should not be empty!
            </span>
            <span *ngIf="sgForm.get('projectName').errors['projectNameIsForbidden']">
              This project name is forbidden!
            </span>
          </span>
        </div>
        <div class="form-group">
          <label for="email">Mail</label>
          <input type="email" class="form-control" formControlName="email">
          <p class="text-warning" *ngIf="!sgForm.get('email').valid && sgForm.get('email').touched">Mail should not be
            valid!</p>
        </div>
        <div class="form-group">
          <select class="form-control" formControlName="dropdown">
            <option *ngFor="let option of dropdownOptions" [value]="option">
              {{ option }}
            </option>

          </select>
        </div>
        <button class="btn btn-primary" type="submit" [disabled]="!sgForm.valid">Submit</button>
      </form>
      <!--
          Create a Form with the following Controls and Validators
          1) Project Name (should not be empty)
          2) Mail (should not be a empty and a valid email)
          3) Project Status Dropdown, with three values: 'Stable', 'Critical', 'Finished'
          4) Submit Button

          Add your own Validator which doesn't allow "Test" as a Project Name

          Also implement that Validator as an async Validator (replace the other one)

          Upon submitting the form, simply print the value to the console
      -->

    </div>
  </div>
</div>