<h1 class="title text-center">GAME</h1>
<hr>
<div class="row text-center" style="margin-bottom: 10px;">
  <button 
  class="btn btn-success" 
  style="margin-right: 10px; width: 20%;" 
  (click)="startGame()"
  [disabled]="!btn_start"
  >
    Start
  </button>
  <button 
  class="btn btn-danger" 
  style="margin-left: 10px; width: 20%;" 
  (click)="gameOver()"
  [disabled]="!btn_stop"
  >
  Stop</button>
</div>
<div class="text-center" *ngIf="started">
  <h1 style="font-weight: bold;">{{ element }}</h1>
</div>